# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files/css
sites/*/files/js
sites/*/files/php
sites/*/private/*

# Ignore salt directory
default_private/*
